#zclock {
	position:relative;
	width:172px;
	height:186px;
	background:url("./img/clock_day.png") no-repeat scroll 0 0 transparent;
}
#zclock_arrow {
	position:absolute;
	width:158px;
	height:158px;
	top:5px;
	left:7px;
	line-height: 158px;
}

#zclock_hour {
	position:absolute;
	width:85px; 
	height:85px; 
	top:36.5px; 
	left:36.5px;
	z-index:50;
}

#zclock_minute {
	position:absolute;
	width:107px; 
	height:107px; 
	top:25.5px; 
	left:25.5px;
	z-index:51;
}
#zclock_second {
	position:absolute;
	width:107px; 
	height:107px; 
	top:25.5px; 
	left:25.5px;
	z-index:52;
}