/* WELCOME PAGE 
======================================================================== */


#welcome #wrapper {
	width: 790px;
}

#welcome #content {
	width: 720px;
	margin-left: auto; margin-right: auto;
}

#welcome #navi {
	margin-left: 0px;
}

#welcome #giantbackground {
	background: url(/styles_2.5/images-welcome/welcome-things-ipad-002.jpg) no-repeat;
	background-position: 50% 90px;
}


/* IPAD -------------------------------- */

#welcome #thingsipad h1 a {
	display: block; width: 720px; height: 440px;
	margin-top: 40px;
	/*background: url(/styles_2.5/images-welcome/welcome-things-ipad-001.jpg) no-repeat;*/
}

#welcome #thingsipad h1 {
	text-indent: -9999px;
}

#welcome #thingsipad .tagline {
	display: none;
}
	
	/* BUTTON */
	
	#welcome .button-video a {
		display: block; width: 160px; height: 50px;
		margin-left: auto; margin-right: auto;
		text-indent: -9999px;
		background: url(/styles_2.5/images-welcome/welcome-button-video-001.png) no-repeat;
	}
	#welcome .button-video a:hover {
		background-position: 0px -60px;
	}
	




/* OTHER -------------------------------- */

#welcome #thingsother {
	position: relative;
	background: url(/styles_2.5/images-welcome/welcome-lightgradient-001.png) no-repeat;
	height: 256px;
}



	/* MAC -------------------------------- */
	
	#welcome #thingsmac {
		position: absolute; top: 50px; left: 0px;
	}
	#welcome #thingsmac h1 a {
		display: block; width: 335px; height: 206px;
		text-indent: -9999px;
		background: url(/styles_2.5/images-welcome/welcome-things-mac-001.jpg) no-repeat;
	}
	
	
	/* IPHONE -------------------------------- */
	
	#welcome #thingsiphone h1 a {
		position: absolute; top: 50px; left: 335px;
		display: block; width: 335px; height: 206px;
		text-indent: -9999px;
		background: url(/styles_2.5/images-welcome/welcome-things-iphone-001.jpg) no-repeat;
	}
	
	

/* AWARDS -------------------------------- */

#welcome #awards {
	width: 670px; height: 80px;
	margin-bottom: 30px;
	background: url(/styles_2.5/images-welcome/welcome-awards-001.png) no-repeat;
}















/* Hide stuff */

#welcome .button-download,
#welcome .button-purchase,
#welcome .button-appstore,
#welcome .button-learnmore,
#welcome .description {
	display: none;
}





/* Buttons and other elements from previous version */

.description {
	line-height: 18px;
	padding: 20px 40px 40px 70px;
}


.button_download a,
.button_purchase a {
	display: block;
	width: 200px;
	height: 40px;
	padding-left: 50px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 16px;
	color: #555;
}

.button_download a {
	background-image: url(images/button2_download_small.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.button_purchase a {
	background-image: url(images/button2_purchase_small.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.button_download a:hover,
.button_purchase a:hover {
	background-position: 0px -40px;
	text-decoration: none;
}

.button_download a span,
.button_purchase a span {
	font-size: 14px;
	color: #222;
	display: block;
	padding-top: 3px;
}

.button_learnmore a {
	display: block;
	width: 100px;
	height: 24px;
	text-indent: -9999px;
	background-image: url(images/button2_learnmore.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.button_learnmore a:hover {
	background-position: 0px -24px;
}












/* SIDEBAR 
====================================================================================== */











/* ABOUT 
======================================================================================== */

.about #sidebar	{
	padding-top: 110px;
}

.about #page_header	{
	position: relative;
	background: url(images/page_header_blank.png) no-repeat;
	height: 80px;
}

.about #page_header	h1 {
	margin: 0;
	padding-left: 40px;
	padding-top: 28px;
	font-size: 20px;
	font-weight: normal;
	color: #555;
}

.about div.page	{
	position: relative;
	background: url(images/page_separator_short.png) no-repeat;
	background-position: bottom;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px 55px 20px 55px;
}


.about div.page em	{
	font-style: italic;
}

.about 	h2 {
	margin-left: 20px;
	margin-bottom: -17px;
	font-size: 20px;
	font-weight: normal;
	color: #333;
}

.about 	h3 {
	margin-left: 100px;
	font-size: 12px;
}

.about 	p {
	margin-left: 100px;
}

.about div.sidebox	{
	margin-top: 5px;
	padding-left: 0;
}


dl.defs dt	{
	margin-left: 5px;
	color: #777;
}

dl.defs  dd	{
	margin-left: 0px;
}

dl.defs dd ul	{
	margin: 0;
	padding: 0;
}

dl.defs dd ul li	{
	margin-left: 6px;
	margin-bottom: 5px;
}

dl.defs dd ul li span	{
	display: block;
	float: left;
	padding-right: 4px;
	margin-bottom: 1.5em;
}

dl.defs dt strong {
	display: block;
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 0;
	margin-left: -5px;
	font-size: 14px;
	color: #000;
}

dl.defs dt em {
	color: inherit;
	font-style: italic;
}




/* CONTACT 
====================================================================================== */


#contact	{
	margin-bottom: 20px;
	background: url(images/icon_letter.png) no-repeat;
	background-position: 0px 0px;
}

.about #shadow ul#company_details { 
	margin-top: 25px; 
	margin-left: 33px; 
	margin-bottom: 20px; 
	color: #777;
}




/* IMPRESSUM 
==================================================================================== */

#impressum #shadow ul#company_details,
#impressum #shadow p,
#impressum #shadow h3 { 
	margin-left: 15px;
}

#impressum #shadow ul#company_details { 
	margin-bottom: 20px; 
	color: #222;
}

#impressum #shadow p { 
	color: #222;
}

#impressum #shadow h3 { 
	margin-top: 20px;
	margin-bottom: 7px;
}


