/* Kill Defaults */
html,body,p,ul,ol,dl,li,h1,h2,h3,h4,img {
	font-family: 'lucida grande',tahoma,helvetica,arial,'bitstream vera sans',sans-serif;
	margin: 0;
	padding: 0;

}

ul {
	list-style: none;
}

img {
	border: 0;
}

a {
	outline: none;
}

/*
============================================
Layout
============================================
*/
body {
	background: #d5e9ed;
	background-image: url(../img/background.png);
	overflow-y: scroll;
}

#wrapper	{
	width: 910px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#header {
	overflow: hidden;
	width: 814px;
	height: 272px;
	background: url(../img/zTree-header.png) no-repeat;
	position: relative;
}

#page {
	width: 814px;
	background: #fff url(../img/page-background.png) repeat-y;
}

#shadow	{
	margin:30px 0 0 0;
	width: 660px;
	background: url(../img/page_shadow.png) repeat-y;
}

#shadow_header	{
	position: relative;
	background: url(../img/shadow_header_blank.png) no-repeat;
	height: 80px;
}

#shadow_header h1 {
	margin: 0;
	padding-left: 30px;
	padding-top: 20px;
	font-size: 28px;
	font-weight: bold;
	color: #555;
}

#shadow_page	{
	position: relative;
	background: url(../img/shadow_separator_short.png) no-repeat;
	background-position: bottom;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px 55px 20px 55px;
}

#shadow_page em	{
	font-style: italic;
}

#shadow_page h2 {
	font-size:18px;
	margin-bottom:30px;
}

h2.productTitle {
	font-size:18px;
	margin-bottom:30px;
	margin-left:135px;
	margin-top:0;
}

#shadow_bottom	{
	width: 660px;
	height: 30px;
	background: url(../img/shadow_bottom.png) no-repeat;
}

#sidebar {
	position: absolute;
	left: 675px;
	top: 90px;
	width: 18em;
	padding-top: 55px;
}

.appicon {
	float:left;
}

/*
============================================
Navigation
============================================
*/

ul#navi {
	width: 790px;
	height: 50px;
	margin-left: 6px;
	position: relative;
	line-height: 0px; /* fixes IE6 stepdown bug */
}

ul#navi li a {
	display: block;
	height: 50px;
	position: absolute;
	top: 0;
	text-indent: -9999px;
	background-image: url(../img/mainmenu.png);
	background-repeat: no-repeat;
}

ul#navi li#home_link a {
	left: 0;
	width: 117px;
	background-position: 0px 0px;
}

ul#navi li#home_link a:hover {
	background-position: 0px -60px;
}

ul#navi li#home_link a:active {
	background-position: 0px -120px;
}

ul#navi li#home_link a.current {
	background-position: 0px -120px;
}

ul#navi li#zTree_link a {
	left: 117px;
	width: 116px;
	background-position: -117px 0px;
}

ul#navi li#zTree_link a:hover {
	background-position: -117px -60px;
}

ul#navi li#zTree_link a:active {
	background-position: -117px -120px;
}

ul#navi li#zTree_link a.current {
	background-position: -117px -120px;
}

ul#navi li#support_link a {
	left: 233px;
	width: 146px;
	background-position: -233px 0px;
}

ul#navi li#support_link a:hover {
	background-position: -233px -60px;
}

ul#navi li#support_link a:active {
	background-position: -233px -120px;
}

ul#navi li#support_link a.current {
	background-position: -233px -120px;
}

ul#navi li#download_link a {
	left: 379px;
	width: 113px;
	background-position: -379px 0px;
}

ul#navi li#download_link a:hover {
	background-position: -379px -60px;
}

ul#navi li#download_link a:active {
	background-position: -379px -120px;
}

ul#navi li#download_link a.current {
	background-position: -379px -120px;
}

ul#navi li#donate_link a {
	left: 492px;
	width: 161px;
	background-position: -492px 0px;
}

ul#navi li#donate_link a:hover {
	background-position: -492px -60px;
}

ul#navi li#donate_link a:active {
	background-position: -492px -120px;
}

ul#navi li#donate_link a.current {
	background-position: -492px -120px;
}

ul#navi li#connact_link a {
	left: 653px;
	width: 147px;
	background-position: -653px 0px;
}

ul#navi li#connact_link a:hover {
	background-position: -653px -60px;
}

ul#navi li#connact_link a:active {
	background-position: -653px -120px;
}

ul#navi li#connact_link a.current {
	background-position: -653px -120px;
}

ul#navi li a:hover {
	background-position-y: -50px;
}

ul#navi li a:active {
	background-position-y: -100px;
}

ul#navi li a.current {
	background-position-y: -100px;
	text-indent: -9999px;
}

/* Footer
============================================================ */ 

#footer	{
	margin-top: 0;
	text-align: center;
	font-size: 12px;
	padding-bottom: 25px;
	background: #d5e9ed;
	background-image: url(../img/background.png);
}

#page #footer {
	height: 44px;
	margin-top: 20px;
	padding-top: 50px;
	background: #d5e9ed url(../img/page-background-bottom.png) no-repeat;
}

#footer ul#footer_links li {
	display: inline;
	color: #777;
}

#footer ul#footer_links li a {
	color: #777;
	text-decoration: none;
}

#footer ul#footer_links li a:hover {
	text-decoration: underline;
}

#footer ul#footer_links li#webmaster_link {
	text-align: right;
	padding-right: 0.5em;
	border-right: 0.1em solid #777;
}

#footer ul#footer_links li#contact_link {
	text-align: left;
	padding-left: 0.5em;
}

#footer ul#footer_links li#language_link img {
	margin-left: 10px;
	position: relative;
	top: 2px;
}

body#contact_page #footer ul#footer_links li#contact_link a:hover {
	text-decoration: none;
}

#contact {
	background:url("../img/icon_letter.png") no-repeat scroll 0 0 transparent;
	margin-bottom:20px;
}

.iconlist {
	line-height:18px;
	list-style:none outside none;
	margin-left:180px;
}
.iconlist li {
	margin-bottom:14px;
	position:relative;
	font-size:12px;
	color:#222222;
}

.iconlist li ul {
	line-height:24px;
}

.iconlist li .button {
	background-color:#777777;
	background-position:0 0;
	background-repeat:no-repeat;
	display:block;
	height:32px;
	left:-44px;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:32px;
}

.iconlist li a {
	font-size:14px;
	color:#4D6399;
	text-decoration:none;
	outline:medium none;
}
.iconlist li a:hover .button {
	background-position:0 -32px;
}
.iconlist li a .buttonFaq {
	background-image:url("../img/support-button-faq.png");
}
.iconlist li a .buttonForums {
	background-image:url("../img/support-button-forums.png");
}
.iconlist li a .buttonWiki {
	background-image:url("../img/support-button-wiki.png");
}
.iconlist li a .buttonFeedback {
	background-image:url("../img/support-button-feedback.png");
}
.iconlist li a .buttonReleaseNotes {
	background-image:url("../img/support-button-releasenotes.png");
}
.iconlist li .buttonLostLicense {
	background-image:url("../img/support-button-lostlicense.png");
}

