/* HOME PAGE 
======================================================================== */

#welcome #wrapper {
	width: 790px;
}

#welcome #content {
	width: 720px;
	margin-left: auto; margin-right: auto;
}

#welcome #navi {
	margin-left: 0px;
}

#welcome #giantbackground {
	background: url(../img/welcome.png) no-repeat;
	background-position: 50% 90px;
}

/* Main Content -------------------------------- */

#welcome #mainShow h1 div {
	display: block; 
	width: 720px; height: 440px;
	margin-top: 40px;
	margin-bottom: 80px;
}

/* Header Button
============================================================ */ 
#shadow_header button {
	width:40px; height:40px; 
	padding:0; margin:-5px 10px 0 0; 
	vertical-align:middle;
	border:0 none; 
	}
#shadow_header button.support {background:url("../img/support.png") no-repeat scroll 0 0 transparent;}
#shadow_header button.download {background:url("../img/download.png") no-repeat scroll 0 0 transparent;}
#shadow_header button.donate {background:url("../img/donate.png") no-repeat scroll 0 0 transparent;}
#shadow_header button.contact {background:url("../img/contact.png") no-repeat scroll 0 0 transparent;}
	