/* HOME PAGE 
======================================================================== */

#welcome #wrapper {
	width: 790px;
}

#welcome #content {
	width: 720px;
	height: 500px;
	margin: 10px auto 0 auto;
}

#welcome #navi {
	margin-left: 0px;
}

#content h1 {
	margin: 0 0 0 10px;
}
#content h1 span {
	font-size: 18px;
	font-weight: normal;
}
#content p {
	margin: 0 0 0 10px;
	line-height: 40px;
}
#content li {
	margin: 0 0 0 50px;
	line-height: 45px;
	list-style:none;
}

#navContent {
	position: relative;
	margin: 36px 0 0 41px;
	padding:0;
	width:540px;
	height:224px;
	border:0;
	overflow: hidden;
/*	background-color: yellow;
	opacity: 0.3;*/
}
#demoNav {
	position: absolute;
	left:0px;
	top:0px;
	margin: 0;
	padding:0;
	width:540px;
	height:224px;
	border:0;
/*	background-color: green;
	opacity: 0.3;*/
}
#questionNav {
	position: absolute;
	left:540px;
	top:0px;
	margin: 0;
	padding:0;
	width:540px;
	height:224px;
	border:0;
/*	background-color: red;
	opacity: 0.3;*/
}
#wikicontent {
	padding: 0 50px 20px 0;

}
#questionContent {
	position: relative;
	padding: 0 50px 20px 0;
	display:none;
	height:100%;
	overflow: auto;
}
#questionContent div.qDiv {
	position: absolute;
	display:none;
	width: 98%;
}
#questionContent p {
	margin: 10px 0 0 0;
	font-size: 14px;
	line-height: 24px;
}
#questionContent p.alt {
	color:red;
}
#questionContent pre {
	border: 1px dashed #0066cc;
	padding:3px 5px;
	background-color: #E3E3E3;
	font-size: 12px;
	line-height: 18px;
}
#questionContent a {
	font-weight: bold;
	color: #38960C;
	text-decoration: none;
}

#questionContent a:hover {
	text-decoration: underline;
}

#qLoading {
	position: absolute;
	width: 720px;
	height: 500px;
	text-align: center;	
	background:url("../img/loading.gif") #FCFCDA center no-repeat;
	z-index: 100;
}

#header ul.tree{
/*	margin:0; padding:0;*/
	width:520px;
	height:214px;
	overflow-y:scroll;
	overflow-x:hidden;
}
#header table {
	margin: 10px 0 0 10px;
	padding:0;
	width:520px;
	height:194px;
	border:0;
}
#header td {
	width:104px;
	text-align:center; 
	vertical-align:top; 
	margin: 0;
	padding:0;
}

#header table li, #zclock li{
	padding:0; margin:10px 0 0 0; 
	list-style:none;
	text-align:center; 
	white-space:nowrap;
}

#header table ul, #zclock ul{
	font-size: 12px;
	padding:5px 0 0 0; 
	margin:0;
	cursor: pointer;
}

#header table li.focus ul{
	font-weight: bold;
}

.button-download {
	position: absolute;
	top: 650px;
	left: 500px;	
	width: 250px;
}

.button-download a {
	display: block;
	width: 150px;
	height: 64px;
	padding-left: 72px;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 16px;
	color: #555;
	overflow: hidden;

	background-image: url(../img/download-Btn.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-decoration: none;
}

.button-download a:hover {
	background-position: 0px -64px;
	text-decoration: underline;
}

.button-download a strong {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #222;
	display: block;
	padding-top: 3px;
}

.superMenu {
	position:relative;
	top:-10px;
}

.superMenu a {
	font-size: 12px;
	line-height: 16px;
	color: #2683CF;
	text-decoration: none;
}

.superMenu a:hover {
	text-decoration: underline;
}

.superMenu a.current {
	color: #60AC2D;
}
.superMenu a.current:hover {
	text-decoration: none;
}

#header table button.ico {
	width:60px; height:60px; 
	padding:0; margin:0; 
	vertical-align:middle;
	border:0 none; 
	background-color: transparent; 
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

#header li a button.ico.info { background:url("../img/zTreeInfo.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.info { background:url("../img/zTreeInfo.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.info { background:url("../img/zTreeInfo.png") no-repeat scroll 0 -60px transparent;}
#header li a button.ico.standardDemo { background:url("../img/zTreeStandard.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.standardDemo { background:url("../img/zTreeStandard.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.standardDemo { background:url("../img/zTreeStandard.png") no-repeat scroll 0 -60px transparent;}
#header li a button.ico.checkboxDemo { background:url("../img/zTreeCheckBox.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.checkboxDemo { background:url("../img/zTreeCheckBox.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.checkboxDemo { background:url("../img/zTreeCheckBox.png") no-repeat scroll 0 -60px transparent;}
#header li a button.ico.eventDemo { background:url("../img/zTreeRadio.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.eventDemo { background:url("../img/zTreeRadio.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.eventDemo { background:url("../img/zTreeRadio.png") no-repeat scroll 0 -60px transparent;}
#header li a button.ico.editDemo { background:url("../img/zTreeEdit.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.editDemo { background:url("../img/zTreeEdit.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.editDemo { background:url("../img/zTreeEdit.png") no-repeat scroll 0 -60px transparent;}
#header li a button.ico.asyncDemo { background:url("../img/zTreeAsync.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.asyncDemo { background:url("../img/zTreeAsync.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.asyncDemo { background:url("../img/zTreeAsync.png") no-repeat scroll 0 -60px transparent;}
#header li a button.ico.jscontrolDemo { background:url("../img/zTreeJsControl.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.jscontrolDemo { background:url("../img/zTreeJsControl.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.jscontrolDemo { background:url("../img/zTreeJsControl.png") no-repeat scroll 0 -60px transparent;}
#header li a button.ico.superDemo { background:url("../img/zTreeSuper.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.superDemo { background:url("../img/zTreeSuper.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.superDemo { background:url("../img/zTreeSuper.png") no-repeat scroll 0 -60px transparent;}
#header li a button.ico.skinDemo { background:url("../img/zTreeSkins.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.skinDemo { background:url("../img/zTreeSkins.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.skinDemo { background:url("../img/zTreeSkins.png") no-repeat scroll 0 -60px transparent;}
#header li a button.ico.download { background:url("../img/zTreeDownload.png") no-repeat scroll 0 0 transparent;}
#header li a:hover button.ico.download { background:url("../img/zTreeDownload.png") no-repeat scroll 0 -60px transparent;}
#header li.focus button.ico.download { background:url("../img/zTreeDownload.png") no-repeat scroll 0 -60px transparent;}


#content button.ico {
	width:32px; height:32px; 
	padding:0; margin:0 10px 0 0; 
	vertical-align:middle;
	border:0 none; 
	background-color: transparent; 
	background-repeat: no-repeat;
	background-position: 0 0;
}

#content li button.ico.browser { background:url("../img/browser.png") no-repeat scroll 0 0 transparent;}
#content li button.ico.multi { background:url("../img/multi.png") no-repeat scroll 0 0 transparent;}
#content li button.ico.jsonData { background:url("../img/jsonData.png") no-repeat scroll 0 0 transparent;}
#content li button.ico.async { background:url("../img/async.png") no-repeat scroll 0 0 transparent;}
#content li button.ico.event { background:url("../img/event.png") no-repeat scroll 0 0 transparent;}
#content li button.ico.move { background:url("../img/move.png") no-repeat scroll 0 0 transparent;}
#content li button.ico.skin { background:url("../img/skin.png") no-repeat scroll 0 0 transparent;}
#content li button.ico.check { background:url("../img/check.png") no-repeat scroll 0 0 transparent;}
#content li button.ico.setting { background:url("../img/setting.png") no-repeat scroll 0 0 transparent;}

a.v3 {
	text-decoration: none;
	color: red;
	font-weight: bold;
}
a.v3:hover {
	text-decoration: underline;
}