* html{
/*	background-image:url(about:blank);*/
	background-attachment:fixed;
}
html pre {word-wrap: break-word}
.header {background-image: none;background-color: #F0F6E4;}

.ieSuggest {display:block;}
.shortcuts button.home {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/home.png');background-image: none;}
.shortcuts button.demo {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/demo.png');background-image: none;}
.shortcuts button.api {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/api.png');background-image: none;}
.shortcuts button.faq {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/faq.png');background-image: none;}
.shortcuts button.donate {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/donate_menu.png');background-image: none;}
.shortcuts button.download {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/download.png');background-image: none;}
.shortcuts button.language {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/language.png');background-image: none;}
.shortcuts button.cn {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/chinese.png');background-image: none;}
.shortcuts button.en {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/english.png');background-image: none;}

.light-bulb {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/lightbulb.png');background-image: none;}
.contentBox {background-image: none;background-color: #F0F6E4;}
.zTreeInfo {background-image: none;background-color: #F0F6E4;}

.content button.ico16 {*background-image:url("../img/ie/apiMenu.gif")}
.apiContent .right {float: right;padding-right: 50px;}
.siteTag {background-image: none;}
.siteTag.tag_zTreeInfo {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/ztreeinfo.png');}
.siteTag.tag_license {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/license.png');}
.siteTag.tag_donate {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/donate.png');}
.siteTag.tag_contact {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/contact.png');}

div.baby_overlay {background-color: #3C6E31;background-image:none;color:#fff;}
div.baby_overlay .close {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/ie/overlay_close_IE6.gif');background-image: none;}
.baby_overlay_arrow {background-image:url(../img/ie/overlay_arrow.gif);}
.footer-logo {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/footer-logo.png');background-image: none;}
.apiDetail button {background-image:url("zTreeStyle/img/zTreeStandard.gif")}